---
import Background from "@components/layout/Background";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="Próximamente">
  <div class="relative">
    <div class="relative sm:overflow-hidden">
      <div class="absolute inset-0">
        <Background className="" client:idle>
          <div
            class="flex flex-col items-center justify-center space-x-4 space-y-8"
          >
            <h1 class="text-6xl md:text-8xl font-thin">¡Próximamente!</h1>
          </div>
        </Background>
      </div>
      <div class="relative inset-0">
        <div class="w-screen h-screen"></div>
      </div>
    </div>
  </div>
</MainLayout>
