---
import Footer from '@components/Footer';
import Header from '@components/Header';
import DarkToggle from '@components/misc/DarkToggle';

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title} - sgarciad.me</title>
    <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();
    
      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      window.localStorage.setItem("theme", theme);
    </script>
  </head>
  <body class="absolute h-full bg-gradient-to-b from-gray-50/20 to-zinc-200/20 dark:from-gray-900/20 dark:to-zinc-700/20">
    <div class="sticky z-10 top-0 w-full">
      <Header client:visible />
    </div>
    <main class="relative inset-0 overflow-y-scroll">
      <div class="min-h-screen">
        <DarkToggle client:visible />
        <slot />
      </div>
    </main>
    <div class="w-full">
      <Footer client:visible />
    </div>
  </body>
</html>
