---
import Footer from '@components/Footer';
import Header from '@components/Header';

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title} - sgarciad.me</title>
  </head>
  <body class="flex flex-col h-full">
    <div class="bg-gradient-to-b from-black to-gray-900 sticky z-10 top-0 w-full">
      <Header client:visible />
    </div>
    <main class="relative min-h-screen">
      <slot />
    </main>
    <div class="w-full">
      <Footer client:visible />
    </div>
  </body>
</html>
